%h3.h2 Забыли пароль?

%p
  Укажите ваш email и вскоре мы вышлем вам инструкции для восстановления пароля

%br
%br

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render partial: 'notifications/form', locals: { object: resource, format: :json }
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: 'form-control input-lg'
  .form-group
    = f.submit "Получить инструкции по восстановлению пароля", class: 'ptz_btn ptz_btn-default'
