%h3.h2 Установите новый пароль

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = render partial: 'notifications/form', locals: { object: resource, format: :json }
  = f.hidden_field :reset_password_token
  .form-group
    = f.label :password, "Новый пароль"
    = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control input-lg'

  .form-group
    = f.label :password_confirmation, "Подтвердите пароль"
    = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-lg'

  .form-group
    = f.submit "Установить новый пароль", class: 'ptz_btn ptz_btn-default'
