<h1><%= @post.title %></h1>
<p>
  <%= @post.body %>
</p>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure"} %>
<%= link_to "Home", root_path %>
